# Breakfast gitignore policy

# Do not ignore ourself
!.gitignore

# Ignore kernels' source codes
kernels/*
flashables/*

# Ignore outputs
outputs/*

# Ignore kernel releases
releases/*

# Do not ignore dummy files
!.dummyfile
