# Breakfast gitignore policy

# Do not ignore ourself
!.gitignore

# Ignore kernels' source codes
kernels/breakfast-*/*
flashables/breakfast-*/ramparts/*
flashables/breakfast-*/thermal/*
flashables/breakfast-*/zImage*

# Ignore outputs
outputs/*

# Ignore kernel releases
releases/*

# Ignore openssl keys
signapk/keys/*

# Do not ignore dummy files
!.dummyfile
